{% extends 'base.html.twig' %}

{% block title %}C'EST ICI QU'ON AJOUTE{% endblock %}




{# <table>
    <thead>
        <tr>
            <th>

            </th>
            <th>
            
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table> #}

{% block contenu %}
    
    {{ form(formTopic) }}

{% endblock %}