{% extends 'base.html.twig' %}

{% block title %}Liste des catégories!{% endblock %}
{% block contenu %}

    <h1>Catégories en folies</h1>
    {% for categorie in categories %}
        <div  class="catCase card border-light mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h3>
                    <a href="{{ path('categorie_show', { 'id':categorie.id }) }}">{{ categorie.categorieNom }}</a>
                </h3>
                <img src="{{ categorie.picture }}"
                <p>
                    {{ categorie.description }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
